header{
	padding: 30px;
	background-color: #0ffff;
}

h4{
	display: inline;
	padding: 6px;
	color: #ecf0f1;
}

h2{
	display: inline;
	padding: 6px;
	font-size: 30px;
}

p{
	
		color: #bdc3c7;

}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

img{
	width: 100%;
	height: 500px;
}
body{
 	background-color: #2c3e50;
  font-family: 'Comic Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #2c3e50;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background:#c0392b;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttons {
    position:absolute;
     top:8px;
     right:15px;
}
.button-left {
    float:left;
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

.field {
  display:flex;
  position:realtive;
  margin:10px auto;
  width:60%;
  flex-direction:row;
  box-shadow:
   1px 1px 0 rgb(231, 76, 60),
   2px 2px 0 rgb(231, 76, 60),
   3px 3px 0 rgb(231, 76, 60),
   4px 4px 0 rgb(231, 76, 60),
   5px 5px 0 rgb(231, 76, 60),
   6px 6px 0 rgb(231, 76, 60),
   7px 7px 0 rgb(231, 76, 60)
  ;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.2em 'Montserrat Alternates';
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.2em solid rgb(231, 76, 60);
}

.field>button {
  padding:0.6em 0.8em;
  background-color:rgb(231, 76, 60);
  color:white;
  border:none;
}


div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {width: 100%}

div.container {
    text-align: center;
    padding: 10px 20px;
}